
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

/* app/globals.css */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


/* Global styles */
* {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility classes */
.truncate-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.notification {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

/* Add other global styles here */